<footer class="footer bg-dark">
    <div class="container footer-container">
        <div class="row">
            <div class="col-sm-4">
                <h5 class="list-title">Our Services</h5>
                <ul class="list-unstyled">
                    <ul class="list-unstyled list-item">
                        <li>One to One Classes</li>
                        <li>Online Classes</li>
                        <li>CBSE Online Classes</li>
                    </ul>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5 class="list-title">Online Courses</h5>
                <ul class="list-unstyled">
                    <ul class="list-unstyled list-item">
                        <li>Online Course for CBSE Class 9th</li>
                        <li>Online Course for CBSE Class 10th</li>
                        <li>Study Material for Class 9th</li>
                        <li>Study Material for Class 10th</li>
                    </ul>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5 class="list-title">Query</h5>
                <ul class="list-unstyled">
                    <ul class="list-unstyled list-item">
                        <li>Offline Classes</li>
                        <li>Online Classes</li>
                        <li>Courses</li>
                        <li>Admission</li>
                        <li>Jobs</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>

    <div class="divider">
        <hr>
        <div>
            <footer class="card-footer text-muted">
                <div class="text-center">All Right Reserverd 2024</div>
                <div class="text-center">Created By Nishant & Harsh</div>
            </footer>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
<script src="/bootstrap.bundle.min.js"></script>



