<footer class="card-footer text-muted">
    <div class="text-center">All Right Reserverd 2024</div>
    <div class="text-center">Created By Nishant & Harsh</div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
<script src="/bootstrap.bundle.min.js"></script>