<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <span class="brand-logo"><a href="#"><img src="favicon.png" class="img-brand"></a></span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Courses
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item dropend">
              <a class="nav-link dropdown-toggle" href="#" id="academic" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
                Academic
              </a>
              <ul class="dropdown-menu" aria-labelledby="academic">
                <li><a class="dropdown-item select-font" href="#">9th</a></li>
                <li><a class="dropdown-item select-font" href="#">10th</a></li>
                <li><a class="dropdown-item select-font" href="#">11th</a></li>
                <li><a class="dropdown-item select-font" href="#">12th</a></li>
              </ul>
            </li>
            <li class="nav-item dropend">
              <a class="nav-link dropdown-toggle" href="#" id="competitive" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Competitive
            </a>
            <ul class="dropdown-menu" aria-labelledby="competitive">
              <li><a class="dropdown-item select-font" href="#">SSC</a></li>
              <li><a class="dropdown-item select-font" href="#">UPSC</a></li>
              <li><a class="dropdown-item select-font" href="#">Bank</a></li>
              <li><a class="dropdown-item select-font" href="#">Other</a></li>
            </ul>
          </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Home Tutorial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Notes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Counselling
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item select-font" href="#">Admission</a></li>
            <li><a class="dropdown-item select-font" href="#">Jobs</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <form action="/login" method="GET">
          <button class="login-btn m-1">Login</button>
        </form>
        <form action="/signup" method="GET">
          <button class="signup-btn m-1">Signup</button>
        </form>
      </div>
    </div>
  </div>
</nav>