.navbar {
    color: #000000;
    font-weight: 700;
    font-size: 1.2rem;
}

.brand-logo {
    padding: 3px;
    margin: 2px;
    margin-right: 0.8rem;
}

.img-brand {
    width: 3.5rem;
    height: 3.5rem;
}

.nav-link {
    color: #6e090f !important;
    font-size: inherit;
    transition: 1s ease;
}

.nav-link:hover {
    color: #6e0910aa !important;
    font-size: 1.3rem;
}


/* ------Content body CSS------ */

.section-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 345px;
}

.sec1-text {
    font-size: 3.7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 4rem;
}

.biggest {
    color: #6e090f;
}

.sign-up-button button {
    font-size: 1.2rem;
    color: #6e090f;
    font-size: 1.5rem;
    background-color: #661e247b;
    padding: 10px 35px;
    width: max-content;
    border: 0;
    border-radius: 15px;
    line-height: normal;
}

.sign-up-button button:hover {
    background-color: #6e090f;
    color: #ffffff;
}


/* ----------CSS for Responsive------------ */
@media (max-width: 620px) {

    .sec1-img img {
        width: 250px;
        height: 250px;
    }

    .sec1-text {
        font-size: 2.8rem;
        line-height: 3.2rem;
    }
    
}