<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Education Site</title>
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <span class="brand-logo"><a href="#"><img src="favicon.png" class="img-brand"></a></span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Academy
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item select-font" href="#">9th</a></li>
              <li><a class="dropdown-item select-font" href="#">10th</a></li>
              <li><a class="dropdown-item select-font" href="#">11th</a></li>
              <li><a class="dropdown-item select-font" href="#">12th</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Home Tutorial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Counselling
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item select-font" href="#">Admission</a></li>
              <li><a class="dropdown-item select-font" href="#">Jobs</a></li>
            </ul>
          </li>
        </ul>
        <div>
          <button class="login-btn">Login</button>
          <button class="signup-btn">Signup</button>
        </div>
      </div>
    </div>
  </nav>


  <!-- Header Section -->
  <%- include("includes/header.ejs") %>

    <!-- main body -->

    <!-- carousel -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img1.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img2.webp" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>


    <main class="container-fluid">
      <!-- Section 1 -->
      <div class="section-1">
        <div class="sec1-text">
          <span class="text1">Bharat's <span class="biggest">Biggest</span><br>Education Platform</span>
          <div class="sign-up-button"><button>Contact Us</button></div>
        </div>
        <div class="sec1-img">
          <img src="boy.png" alt="">
        </div>
      </div>

      <!-- Home Tutorial-section-2 -->
      <div class="bgr2 container-fluid">
        <h1>Home Tutors in Delhi</h1>
        <h3>Discover Tutors, Institutes and Courses in Delhi</h3>
        <div class="section-2 offset-md-2 col-md-8 offset-md-2 ">
          <p>Which Class / Course you are Looking For ?
          </p>
          <div class="background">

            <div class="row row-1">

              <div class="col-md-6">
                <label class="custom-radio btn-group">
                  <input type="radio" name="options" value="option1">
                  Nursery Tution
                </label>
                <label class="custom-radio">
                  <input type="radio" name="options" value="option2">
                  Class VI-VIII Tuition
                </label>
                <label class="custom-radio">
                  <input type="radio" name="options" value="option3">
                  Class XI-XII Tution
                </label>
              </div>
              <div class="col-md-6">
                <label class="custom-radio">
                  <input type="radio" name="options" value="option4">
                  Class I-V Tution
                </label>
                <label class="custom-radio">
                  <input type="radio" name="options" value="option5">
                  Class IX-X Tution
                </label>
                <label class="custom-radio">
                  <input type="radio" name="options" value="option6">
                  Others
                </label>
              </div>
              <span><button class="offset-md-3 col-md-6 offset-md-3 submitbtn" type="button"
                  class="btn btn-dark">Submit</button> </span>

            </div>
          </div>
        </div>
      </div>
      <!-- Home Tutorial -->


      <!-- why tutor section -->
      <div class="container-fluid mt-5">
        <div class="row">
          <div class="col-md-12">
            <div class="section-header">
              Why Perfect Tutor
              <div class="underline"></div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="card-body">
                <ul class="bullet-points">
                  <li>Years of Teaching Experience</li>
                  <li>Expertise in the Subject Matter</li>
                  <li>Personalized Teaching Approach</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card-body">
                <ul class="bullet-points">
                  <li>Proven Track Record of Student Success</li>
                  <li>Flexible Schedule to Fit Your Needs</li>
                  <li>Dedicated Support and Guidance</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card-subtitle">
                Perfect Tutor helps parents and students to find the skilled Home Tutors for all subjects, classes &
                board in their near location. Our qualified teachers provide personalized attention for all subjects. We
                provide information on the top-rated tutors, their qualifications, fees, reviews, teaching techniques,
                and other details to students and parents.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- FOR STUDENTS-->

      <div class="container-fluid mt-5">
        <div class="title-container">
          FOR STUDENTS
        </div>
        <div class="subtitle-container">
          Now your study is simplified with our qualified home tutors and home tuition classes organized by us direct to
          your home.
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card-content">
              <img src="t1.png" class="card-img" alt="Image">
              <div class="card-header">
                Card Header
              </div>
              <div class="card-body">
                <p class="normal-text">Paragraph 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus,
                  justo et posuere placerat, mi felis malesuada eros, non sollicitudin elit velit ut urna. </p>
                <p class="normal-text">Paragraph 2: Phasellus egestas tellus vitae tellus accumsan, id fringilla ligula
                  vestibulum. Aenean at nunc eu orci pharetra scelerisque a et lorem. </p>
                <p class="normal-text">Paragraph 3: Integer fermentum, nulla ut placerat ultricies, mauris ex fringilla
                  purus, nec dignissim nisi velit sed risus.</p>
                <p class="normal-text">Paragraph 4: Sed ac mi nec lacus lacinia dignissim. Nulla facilisi. Aenean
                  efficitur vestibulum metus, id cursus dui finibus eu.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-content">
              <img src="t2.png" class="card-img" alt="Image">
              <div class="card-header">
                Card Header
              </div>
              <div class="card-body">
                <p class="normal-text">Paragraph 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus,
                  justo et posuere placerat, mi felis malesuada eros, non sollicitudin elit velit ut urna. </p>
                <p class="normal-text">Paragraph 2: Phasellus egestas tellus vitae tellus accumsan, id fringilla ligula
                  vestibulum. Aenean at nunc eu orci pharetra scelerisque a et lorem. </p>
                <p class="normal-text">Paragraph 3: Integer fermentum, nulla ut placerat ultricies, mauris ex fringilla
                  purus, nec dignissim nisi velit sed risus.</p>
                <p class="normal-text">Paragraph 4: Sed ac mi nec lacus lacinia dignissim. Nulla facilisi. Aenean
                  efficitur vestibulum metus, id cursus dui finibus eu.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 button-container">
            <button class="btn btn-custom">Learn More</button>
          </div>
        </div>
      </div>


      <!-- Section 2 (Exam Category)-->
      <div class="container-lg exam-section">
        <div class="d-flex flex-column align-items-center lh-sm">
          <div class="fs-1 fw-bolder">Exam Category</div>
          <div class="fs-6 fst-italic">Pick any one course</div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-4 card">
            <div class="inner-card">
              <div class="card-title">Academy</div>
              <div class="card-btn">
                <button>9th</button>
                <button>10th</button>
                <button>11th</button>
                <button>12th</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 card">
            <div class="inner-card">
              <div class="card-title">Competitive Exams</div>
              <div class="card-btn">
                <button>SSC</button>
                <button>BANK</button>
                <button>CS</button>
                <button>CSS</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 card">
            <div class="inner-card">
              <div class="card-title">Free Demo Classes</div>
              <div class="card-btn">
                <button>SSC</button>
                <button>PO</button>
                <button>11th</button>
                <button>12th</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-4 card">
            <div class="inner-card">
              <div class="card-title">Academy</div>
              <div class="card-btn">
                <button>9th</button>
                <button>10th</button>
                <button>11th</button>
                <button>12th</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 card">
            <div class="inner-card">
              <div class="card-title">Competitive Exams</div>
              <div class="card-btn">
                <button>SSC</button>
                <button>BANK</button>
                <button>CS</button>
                <button>CSS</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 card">
            <div class="inner-card">
              <div class="card-title">Free Demo Classes</div>
              <div class="card-btn">
                <button>SSC</button>
                <button>PO</button>
                <button>11th</button>
                <button>12th</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Section 4 (Study Resources) -->

      <div class="container-lg" style="margin-top: 50px;">
        <div class="d-flex flex-column align-items-center lh-sm">
          <div>
            <span class="fs-1 fw-bolder">Study Resources</span>
            <span class="study-res-img"><img src="books.gif" alt=""></span>
          </div>
          <div class="fs-6 fst-italic">A diverse array of learning materials to enhance your educational journey</div>
          <div class="row d-flex justify-content-center">
            <div class="col-lg-4 card">
              <div class="d-flex flex-column align-items-start">
                <div class="card-title d-flex justify-content-between" style="width: 100%;">
                  <span>Notes</span>
                  <span><i class="fa-solid fa-arrow-right-long fs-5"></i></span>
                </div>
                <div class="card-content">
                  <p>Use Physics Wallah’s detailed study materials that simplify complex ideas into easily
                    understandable
                    language</p>
                </div>
                <div>
                  <img src="s1.webp" alt="" srcset="">
                </div>
              </div>
            </div>
            <div class="col-lg-4 card">
              <div class="d-flex flex-column align-items-start">
                <div class="card-title d-flex justify-content-between" style="width: 100%;">
                  <span>Reference Books</span>
                  <span><i class="fa-solid fa-arrow-right-long fs-5"></i></span>
                </div>
                <div class="card-content">
                  <p>Our experts have created thorough study materials that break down complicated concepts into easily
                    understandable content</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 card">
              <div class="d-flex flex-column align-items-start">
                <div class="card-title d-flex justify-content-between" style="width: 100%;">
                  <span>NCERT Solutions</span>
                  <span><i class="fa-solid fa-arrow-right-long fs-5"></i></span>
                </div>
                <div class="card-content">
                  <p>Unlock academic excellence with Physics Wallah’s NCERT Solutions which provides you step-by-step
                    solutions</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      <!-- Our Services -->


      <div class="container-fluid mt-5">
        <div class="row">
          <div class="col-md-12">
            <div class="section-header">
              Our Services
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="service">
              <h3>HOME TUTORS</h3>
              <p>Our core service areas offer parents, students, private home tutors, online tutors and users a fair
                choice of affordable home tutoring. We always intend to maintain transparency in the connecting process
                between a home tutor and students wishing to accomplish their academic goals with professional guidance.
                Our top priority is to provide best education to the students through qualified and experienced
                teachers.</p>
              <img src="https://via.placeholder.com/600x400" alt="Home Tutors" class="service-img">
            </div>
          </div>
          <div class="col-md-6">
            <div class="service">
              <h3>ONLINE TUTORS</h3>
              <p>Our core service areas offer parents, students, private home tutors, online tutors and users a fair
                choice of affordable home tutoring. We always intend to maintain transparency in the connecting process
                between a home tutor and students wishing to accomplish their academic goals with professional guidance.
                Our top priority is to provide best education to the students through qualified and experienced
                teachers.</p>
              <img src="https://via.placeholder.com/600x400" alt="Online Tutors" class="service-img">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="service">
              <h3>TEACHING JOBS</h3>
              <p>Our core service areas offer parents, students, private home tutors, online tutors and users a fair
                choice of affordable home tutoring. We always intend to maintain transparency in the connecting process
                between a home tutor and students wishing to accomplish their academic goals with professional guidance.
                Our top priority is to provide best education to the students through qualified and experienced
                teachers.</p>
              <img src="https://via.placeholder.com/600x400" alt="Teaching Jobs" class="service-img">
            </div>
          </div>
          <div class="col-md-6">
            <div class="service">
              <h3>SCHOOL ADMISSIONS</h3>
              <p>Our core service areas offer parents, students, private home tutors, online tutors and users a fair
                choice of affordable home tutoring. We always intend to maintain transparency in the connecting process
                between a home tutor and students wishing to accomplish their academic goals with professional guidance.
                Our top priority is to provide best education to the students through qualified and experienced
                teachers.</p>
              <img src="https://via.placeholder.com/600x400" alt="School Admissions" class="service-img">
            </div>
          </div>
        </div>
      </div>
    </main>



    <!-- Footer Section -->
    <%- include("includes/footer.ejs") %>
</body>

</html>